@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Open Sans", sans-serif;
    background: #ebe9e9;
}

.search{
    width: 400px;
    height: 40px;
    background: #f0f5ff;
    border-radius: 6px;
    padding: 3px 15px;

}
.search input{
    background: transparent;
    border: 0px;
    outline: none;
    font-size: 15px;
    color: #292929;
    padding-left: 0px;
}
.search input::-webkit-input-placeholder{
    color: black;
}
.search svg {
    font-size: 18px;
}


.logout{
   padding: 0px 25px;
   margin-top: 50px;
}
.logout .logout-box{
    width: 100%;
    height: 130px;
    padding: 25px;
    background: #bcd2fd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
}
.logout .logout-box::before{
    content: '';
    width: 70px;
    height: 70px;
    background: #0858f7;
    border-radius: 100px;
    position: absolute;
    top: -20px;
    right: -30px;
    opacity: 0.5;
}
.logout .logout-box::after{
    content: '';
    width: 30px;
    height: 30px;
    background: #0858f7;
    border-radius: 100px;
    position: absolute;
    top: 90px;
    left: 16px;
    opacity: 0.5;
}
.logout .logout-box svg{
    margin-left: 10px;
    font-size: 18px;
}



.dashboard-ui{
    width: 100%;
    flex: 0 0 80%;
    transition: all 0.3s ease-in-out;
}

/* .right-content{
    padding: 95px 0px;
} */
.dashboardBox{
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    margin: 5px 5px 5px 5px;
}
.dashboardBox .col1 {
    font-weight: 600;
}
.dashboardBox .col1 span{
    font-size: 40px;
    font-weight: 500;
}
.dashboardBox .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 5px;
    background: white;
}
.dashboardBox .icon svg{
    font-size: 50px;
    color: #007AFF!important;
}
.dashboardBox .dash{
    padding: 25px;
}
.card-border{
    border-top: 5px solid #014B9C !important;
    border-radius: 10px;
}

.task-add{
    background: #F3F3F3;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    
}
.task-name{
    width: 70%;
}

.task-icon{
    height: 40px;
    width: 50px;
    background: #fa9653;
    text-align: center;
    color: #000000;
    border-radius: 5px;
    margin: 10px 0px 0px 130px
}
.task-icon2{
    height: 40px;
    width: 50px;
    background: #bdffad;
    text-align: center;
    color: #000000;
    border-radius: 5px;
    margin-left: 5px;
    margin: 10px 0px 0px 10px
}

activity-feed {
    padding: 15px;
  }
  .activity-feed .feed-item {
    position: relative;
    padding-bottom: 20px;
    padding-left: 55px;
    padding-top: 12px;
  }
  .activity-feed .feed-item:last-child {
    border-color: transparent;
  }
  .activity-feed .feed-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 25px;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #f37167;
  }
  .activity-feed .feed-item .date {
    position: relative;
    top: -5px;
    color: #8c96a3;
    text-transform: uppercase;
    font-size: 13px;
  }
  .activity-feed .feed-item .text {
    position: relative;
    top: -3px;
  }
  .deals_dash{
    font-size: 15px;
    color: #000000a1;
    font-weight: 500;
  }

  .toggle-button{
    display: none !important;
  }

  @media only screen and (min-width: 880px) {

    .crm_dashboard{
        display: none !important;
      }
  }

  @media only screen and (max-width: 900px) {

    .crm_dashboard{
        display: block !important;
      }
    .crm_notification{
        display: none !important;
    }
    .crm_account{
        display: none !important;
    }
    .search{
        display: none !important;
    }

  }
  